<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net46" />
  <package id="Cryptography.ECDSA.Secp256K1" version="1.1.0" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net46" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNetCore.Cryptography.KeyDerivation" version="2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="Norgerman.Cryptography.Scrypt" version="1.1.1" targetFramework="net461" />
</packages>